.title{
    border-radius: 15px;
    border-style: solid;
    border-color: blueviolet;
    border-width: 5px;
}

.red-box {
    background-color: crimson;
    color: #fff;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 10px;
  }
  .box {
    border-style: solid;
    border-color: purple;
    border-width: 5px;
    border-radius: 18px;
    text-align: center;
  }
  .yellow-box {
    background-color: #00ff00;
    padding: 12px;
  }